#Python Language Basics

##18/10/2024

In [ ]:
list_of_users = [
    {
        'name':'Niccolò', 'surname':'Marastoni', 'age':41
    },
    {
        'name':'Lebron', 'surname':'James', 'age':39
    },
    {
        'name':'Mark', 'surname':'Powers', 'age':52
    }
]

In [ ]:
user_0 = list_of_users[0]

In [ ]:
user_0['name']

'Niccolò'

In [ ]:
def add_user(list_of_users, user):
    list_of_users.append(user)
    return list_of_users

def add_users(list_of_users, users):
    for user in users:
        #check if user already exists
        list_of_users = add_user(list_of_users, user)

    return list_of_users

In [ ]:
new_user_0 = {
    'name':'Mick',
    'surname':'Thompson',
    'age':45
}

new_user_1 = {
    'name':'Phil',
    'surname':'Collins',
    'age':74
}

new_list_of_users = [new_user_0, new_user_1]
list_of_users = add_users(list_of_users, new_list_of_users)

In [ ]:
list_of_users

[{'name': 'Niccolò', 'surname': 'Marastoni', 'age': 41},
 {'name': 'Lebron', 'surname': 'James', 'age': 39},
 {'name': 'Mark', 'surname': 'Powers', 'age': 52},
 {'name': 'Mick', 'surname': 'Thompson', 'age': 45},
 {'name': 'Mick', 'surname': 'Thompson', 'age': 45},
 {'name': 'Phil', 'surname': 'Collins', 'age': 74}]

In [ ]:
list_of_users[3] == list_of_users[4]

True

In [ ]:
new_user_2 = {
    'name':'Dimebag',
    'surname':'Darrel',
    'age':65
}
list_of_users = add_user(list_of_users, new_user_2)

In [ ]:
new_user_3 = {
    'name':'Dimebag',
    'surname':'Darrel',
    'age':65,
    'job':'Guitar player'
}

list_of_users = add_user(list_of_users, new_user_3)

In [ ]:
list_of_users

[{'name': 'Niccolò', 'surname': 'Marastoni', 'age': 41},
 {'name': 'Lebron', 'surname': 'James', 'age': 39},
 {'name': 'Mark', 'surname': 'Powers', 'age': 52},
 {'name': 'Mick', 'surname': 'Thompson', 'age': 45},
 {'name': 'Mick', 'surname': 'Thompson', 'age': 45},
 {'name': 'Phil', 'surname': 'Collins', 'age': 74},
 {'name': 'Dimebag', 'surname': 'Darrel', 'age': 65},
 {'name': 'Dimebag', 'surname': 'Darrel', 'age': 65, 'job': 'Guitar player'}]

In [ ]:
list_of_users[-2] == list_of_users[-1]

False

In [ ]:
list_of_users[0]['car'] = 'chr'

In [ ]:
list_of_users

[{'name': 'Niccolò', 'surname': 'Marastoni', 'age': 41, 'car': 'chr'},
 {'name': 'Lebron', 'surname': 'James', 'age': 39},
 {'name': 'Mark', 'surname': 'Powers', 'age': 52},
 {'name': 'Mick', 'surname': 'Thompson', 'age': 45},
 {'name': 'Mick', 'surname': 'Thompson', 'age': 45},
 {'name': 'Phil', 'surname': 'Collins', 'age': 74},
 {'name': 'Dimebag', 'surname': 'Darrel', 'age': 65},
 {'name': 'Dimebag', 'surname': 'Darrel', 'age': 65, 'job': 'Guitar player'}]

In [ ]:
class Person:
    pass

In [ ]:
p = Person()

In [ ]:
type(p)

__main__.Person

In [ ]:
type(1)

int

In [ ]:
class Person:
    def __init__(self, name, surname, age):
        self.name = name
        self.surname = surname
        self.age = age

In [ ]:
class Wrong:
    def __init__(age, name, surname):
        self.name = name
        self.surname = surname
        self.age = age

In [ ]:
p = Wrong('hello', 'wrong', 56)

TypeError: Wrong.__init__() takes 3 positional arguments but 4 were given

In [ ]:
Wrong.__init__() # __init__(Wrong, )

In [ ]:
person_0 = Person('Niccolò', 'Marastoni', 41)

In [ ]:
person_0

In [ ]:
person_0.name + ' ' + person_0.surname + ' is ' + str(person_0.age) + ' years old'

'Niccolò Marastoni is 41 years old'

In [ ]:
list_of_users[0]['name']

'Niccolò'

In [ ]:
person_0.age = 26

In [ ]:
person_0.car = 'chr'

In [ ]:
person_0.car

'chr'

In [ ]:
class Person:
    def __init__(self, name, family_name, age, gender='x'):
        self.name = name
        self.surname = family_name
        self.age = age
        self.gender = gender
        self.type_of_user = 'default'

    def print_name(self):
        print(self.name)

    def change_name(self, new_name):
        self.name = new_name

In [ ]:
person = Person('Niccolò', 'Marastoni', 41)

In [ ]:
person.change_name('Nick')

In [ ]:
person.print_name()

Nick

In [ ]:
person_2 = Person('Lebron', 'James', 39, 'm')

In [ ]:
person.type_of_user

'default'

In [ ]:
person_1 = Person('Lebron', 'James', 39)
person_2 = Person('Lebron', 'James', 39)

In [ ]:
person_1 == person_2

False

In [ ]:
person_1

In [ ]:
person_2

In [ ]:
person_3 = person_1

In [ ]:
#person_1.__eq__(person_2)
person_3 == person_1

True

In [ ]:
person_1.__eq__(person_2)

NotImplemented

In [ ]:
class Person:
    def __init__(self, name, family_name, age, gender='x'):
        self.name = name
        self.surname = family_name
        self.age = age
        self.gender = gender
        self.type_of_user = 'default'

    def print_name(self):
        print(self.name)

    def change_name(self, new_name):
        self.name = new_name

    def __eq__(self, other):
        same_name = self.name == other.name
        same_surname = self.surname == other.surname
        same_age = self.age == other.age
        return same_name and same_surname and same_age

In [ ]:
person_1 = Person('Lebron', 'James', 39)
person_2 = Person('Lebron', 'James', 39)

In [ ]:
person_1 == person_2

True

In [ ]:
person_1.__eq__(person_2)

True

In [ ]:
class Pet:
    def __init__(self, name, family_name, age):
        self.name = name
        self.surname = family_name
        self.age = age

    def print_name(self):
        print(self.name)

    def change_name(self, new_name):
        self.name = new_name

    def __eq__(self, other):
        same_type = type(self) == type(other)
        same_name = self.name == other.name
        same_surname = self.surname == other.surname
        same_age = self.age == other.age
        return same_type and same_name and same_surname and same_age

In [ ]:
my_turtle = Pet('Lebron', 'James', 39)

In [ ]:
my_turtle == person_1

False

In [ ]:
#person_1.__eq__(my_turtle)
person_1 == my_turtle

True

**Exercise**: write an object that describes a stadium, it will have a length and a width as init input variables. It will also have area as attribute. Write a proper \_\_eq\_\_ function

In [ ]:
class Stadium:
    def __init__(self, length, width):
        self.length = length
        self.width = width
        self.area = length * width

    def __eq__(self, other):
        return type(self) == type(other) and self.length == other.length and self.width == other.width

    def __add__(self, other):
        if type(self) == type(other):
            stadium = Stadium(self.length + other.length, self.width + other.width)
            return stadium

In [ ]:
stadium_1 = Stadium(400, 10)
stadium_2 = Stadium(40, 100)
stadium_1 == stadium_2

False

In [ ]:
stadium_3 = stadium_1 + stadium_2

In [ ]:
stadium_3.length

440

In [ ]:
'hello' + 'world'

'helloworld'

- Objects
    - Constructor
    - Attributes
    - Methods
        - self
        - Built in -> \_\_repr__, \_\_eq__

- Generators?
- Comments
    - Inline
    - Block
    - Functions (pydoc)