##25/10/2024

In [ ]:
class Person:
    def __init__(self, name, surname, age):
        self.name = name
        self.surname = surname
        self.age = age

    def __eq__(self, other):
        return type(self) == type(other) and self.name == other.name and self.surname == other.surname

    def __repr__(self):
        return self.name + ' ' + self.surname

    def __lt__(self, other):
        return self.name < other.name and self.surname < other.surname

In [ ]:
p_1 = Person('Niccolò', 'Marastoni', 41)
p_2 = Person('Niccolò', 'Marastoni', 40)
p_3 = Person('Lebron', 'James', 39)
p_1 == p_2

True

In [ ]:
p_1 < p_2

False

In [ ]:
#BAD
class Student:
    def __init__(self, name, surname, age, student_id):
        self.name = name
        self.surname = surname
        self.age = age
        self.student_id = student_id

    def __eq__(self, other):
        return type(self) == type(other) and self.student_id == other.student_id

In [ ]:
#AND: True and True and True ... and False = False

In [ ]:
s_1 = Student('Niccolò', 'Marastoni', 31, 'VR365422')
s_2 = Student('Niccolò', 'Marastoni', 33, 'VR386312')
s_1 == s_2

False

In [ ]:
p_1

Niccolò Marastoni

In [ ]:
s_1

In [ ]:
#s_1.__eq__(p_1)
s_1 == p_1

False

In [ ]:
#GOOD
class Student(Person):
    def __init__(self, name, surname, age, student_id):
        super().__init__(name, surname, age)
        self.student_id = student_id

    def __eq__(self, other):
        return type(self) == type(other) and self.student_id == other.student_id

In [ ]:
s_1 = Student('Niccolò', 'Marastoni', 31, 'VR365422')
s_2 = Student('Niccolò', 'Marastoni', 33, 'VR386312')
s_1 == s_2

False

In [ ]:
s_1

Niccolò Marastoni

In [ ]:
class Professor(Person):
    def __init__(self, name, surname, age, contract):
        super().__init__(name, surname, age)
        self.contract = contract

    def change_contract(hello, new_contract):
        hello.contract = new_contract

In [ ]:
pr_0 = Professor('Elisa', 'Quintarelli', 41, 'Temporary')

In [ ]:
pr_0.change_contract('Associate')

In [ ]:
#       Person
#Student        Professor
#            Associate  Full

In [ ]:
pr_0.contract

'Associate'

In [ ]:
list_of_people = [p_3, s_1, pr_0]

In [ ]:
sorted(list_of_people)

[Lebron James, Niccolò Marastoni, Elisa Quintarelli]

In [ ]:
list_of_people

[Lebron James, Niccolò Marastoni, Elisa Quintarelli]

- Objects
    - Inheritance

In [ ]:
def division(a, b):
    result = a / b
    return result

print('Hello')
res = division(18, 0)
print('Bye')

Hello

ZeroDivisionError: division by zero

In [ ]:
def safe_division(a, b):
    try:
        res = a / b
        return res
    except:
        print('division by zero')
    finally:
        print('this executes always')

In [ ]:
safe_division(18, 6)

this executes always

3.0

In [ ]:
res

In [ ]:
import os

In [ ]:
list_of_files = os.listdir('sample_data')

In [ ]:
list_of_files

['anscombe.json',
 'README.md',
 'california_housing_test.csv',
 'mnist_test.csv',
 'mnist_train_small.csv',
 'california_housing_train.csv']

In [ ]:
f = open('sample_data/' + list_of_files[0])

In [ ]:
f.readline()

'  {"Series":"I", "X":14.0, "Y":9.96},\n'

In [ ]:
for line in f:
    print(line)

  {"Series":"I", "X":6.0, "Y":7.24},

  {"Series":"I", "X":4.0, "Y":4.26},

  {"Series":"I", "X":12.0, "Y":10.84},

  {"Series":"I", "X":7.0, "Y":4.81},

  {"Series":"I", "X":5.0, "Y":5.68},



  {"Series":"II", "X":10.0, "Y":9.14},

  {"Series":"II", "X":8.0, "Y":8.14},

  {"Series":"II", "X":13.0, "Y":8.74},

  {"Series":"II", "X":9.0, "Y":8.77},

  {"Series":"II", "X":11.0, "Y":9.26},

  {"Series":"II", "X":14.0, "Y":8.10},

  {"Series":"II", "X":6.0, "Y":6.13},

  {"Series":"II", "X":4.0, "Y":3.10},

  {"Series":"II", "X":12.0, "Y":9.13},

  {"Series":"II", "X":7.0, "Y":7.26},

  {"Series":"II", "X":5.0, "Y":4.74},



  {"Series":"III", "X":10.0, "Y":7.46},

  {"Series":"III", "X":8.0, "Y":6.77},

  {"Series":"III", "X":13.0, "Y":12.74},

  {"Series":"III", "X":9.0, "Y":7.11},

  {"Series":"III", "X":11.0, "Y":7.81},

  {"Series":"III", "X":14.0, "Y":8.84},

  {"Series":"III", "X":6.0, "Y":6.08},

  {"Series":"III", "X":4.0, "Y":5.39},

  {"Series":"III", "X":12.0, "Y":8.15},

  {"Series":"III", "X":7.0, "Y":6.42},

  {"Series":"III", "X":5.0, "Y":5.73},



  {"Series":"IV", "X":8.0, "Y":6.58},

  {"Series":"IV", "X":8.0, "Y":5.76},

  {"Series":"IV", "X":8.0, "Y":7.71},

  {"Series":"IV", "X":8.0, "Y":8.84},

  {"Series":"IV", "X":8.0, "Y":8.47},

  {"Series":"IV", "X":8.0, "Y":7.04},

  {"Series":"IV", "X":8.0, "Y":5.25},

  {"Series":"IV", "X":19.0, "Y":12.50},

  {"Series":"IV", "X":8.0, "Y":5.56},

  {"Series":"IV", "X":8.0, "Y":7.91},

  {"Series":"IV", "X":8.0, "Y":6.89}

]

In [ ]:
f.readline()

''

In [ ]:
f.close()

In [ ]:
f.readline()

ValueError: I/O operation on closed file.

In [ ]:
def read_lines(filename):
    f = open(filename)

    try:
        list_of_lines = []
        for line in f:
            list_of_lines.append(line)

        return list_of_lines

    except:
        print('exception happened')

    finally:
        f.close()

In [ ]:
read_lines('sample_data/' + list_of_files[0])

['[\n',
 '  {"Series":"I", "X":10.0, "Y":8.04},\n',
 '  {"Series":"I", "X":8.0, "Y":6.95},\n',
 '  {"Series":"I", "X":13.0, "Y":7.58},\n',
 '  {"Series":"I", "X":9.0, "Y":8.81},\n',
 '  {"Series":"I", "X":11.0, "Y":8.33},\n',
 '  {"Series":"I", "X":14.0, "Y":9.96},\n',
 '  {"Series":"I", "X":6.0, "Y":7.24},\n',
 '  {"Series":"I", "X":4.0, "Y":4.26},\n',
 '  {"Series":"I", "X":12.0, "Y":10.84},\n',
 '  {"Series":"I", "X":7.0, "Y":4.81},\n',
 '  {"Series":"I", "X":5.0, "Y":5.68},\n',
 '\n',
 '  {"Series":"II", "X":10.0, "Y":9.14},\n',
 '  {"Series":"II", "X":8.0, "Y":8.14},\n',
 '  {"Series":"II", "X":13.0, "Y":8.74},\n',
 '  {"Series":"II", "X":9.0, "Y":8.77},\n',
 '  {"Series":"II", "X":11.0, "Y":9.26},\n',
 '  {"Series":"II", "X":14.0, "Y":8.10},\n',
 '  {"Series":"II", "X":6.0, "Y":6.13},\n',
 '  {"Series":"II", "X":4.0, "Y":3.10},\n',
 '  {"Series":"II", "X":12.0, "Y":9.13},\n',
 '  {"Series":"II", "X":7.0, "Y":7.26},\n',
 '  {"Series":"II", "X":5.0, "Y":4.74},\n',
 '\n',
 '  {"Series":"III", "X":10.0, "Y":7.46},\n',
 '  {"Series":"III", "X":8.0, "Y":6.77},\n',
 '  {"Series":"III", "X":13.0, "Y":12.74},\n',
 '  {"Series":"III", "X":9.0, "Y":7.11},\n',
 '  {"Series":"III", "X":11.0, "Y":7.81},\n',
 '  {"Series":"III", "X":14.0, "Y":8.84},\n',
 '  {"Series":"III", "X":6.0, "Y":6.08},\n',
 '  {"Series":"III", "X":4.0, "Y":5.39},\n',
 '  {"Series":"III", "X":12.0, "Y":8.15},\n',
 '  {"Series":"III", "X":7.0, "Y":6.42},\n',
 '  {"Series":"III", "X":5.0, "Y":5.73},\n',
 '\n',
 '  {"Series":"IV", "X":8.0, "Y":6.58},\n',
 '  {"Series":"IV", "X":8.0, "Y":5.76},\n',
 '  {"Series":"IV", "X":8.0, "Y":7.71},\n',
 '  {"Series":"IV", "X":8.0, "Y":8.84},\n',
 '  {"Series":"IV", "X":8.0, "Y":8.47},\n',
 '  {"Series":"IV", "X":8.0, "Y":7.04},\n',
 '  {"Series":"IV", "X":8.0, "Y":5.25},\n',
 '  {"Series":"IV", "X":19.0, "Y":12.50},\n',
 '  {"Series":"IV", "X":8.0, "Y":5.56},\n',
 '  {"Series":"IV", "X":8.0, "Y":7.91},\n',
 '  {"Series":"IV", "X":8.0, "Y":6.89}\n',
 ']\n']

In [ ]:
with open('sample_data/' + list_of_files[0]) as f:
    for line in f:
        print(line)

f.readline()

[

  {"Series":"I", "X":10.0, "Y":8.04},

  {"Series":"I", "X":8.0, "Y":6.95},

  {"Series":"I", "X":13.0, "Y":7.58},

  {"Series":"I", "X":9.0, "Y":8.81},

  {"Series":"I", "X":11.0, "Y":8.33},

  {"Series":"I", "X":14.0, "Y":9.96},

  {"Series":"I", "X":6.0, "Y":7.24},

  {"Series":"I", "X":4.0, "Y":4.26},

  {"Series":"I", "X":12.0, "Y":10.84},

  {"Series":"I", "X":7.0, "Y":4.81},

  {"Series":"I", "X":5.0, "Y":5.68},



  {"Series":"II", "X":10.0, "Y":9.14},

  {"Series":"II", "X":8.0, "Y":8.14},

  {"Series":"II", "X":13.0, "Y":8.74},

  {"Series":"II", "X":9.0, "Y":8.77},

  {"Series":"II", "X":11.0, "Y":9.26},

  {"Series":"II", "X":14.0, "Y":8.10},

  {"Series":"II", "X":6.0, "Y":6.13},

  {"Series":"II", "X":4.0, "Y":3.10},

  {"Series":"II", "X":12.0, "Y":9.13},

  {"Series":"II", "X":7.0, "Y":7.26},

  {"Series":"II", "X":5.0, "Y":4.74},



  {"Series":"III", "X":10.0, "Y":7.46},

  {"Series":"III", "X":8.0, "Y":6.77},

  {"Series":"III", "X":13.0, "Y":12.74},

  {"Series":"III", "X":9.0, "Y":7.11},

  {"Series":"III", "X":11.0, "Y":7.81},

  {"Series":"III", "X":14.0, "Y":8.84},

  {"Series":"III", "X":6.0, "Y":6.08},

  {"Series":"III", "X":4.0, "Y":5.39},

  {"Series":"III", "X":12.0, "Y":8.15},

  {"Series":"III", "X":7.0, "Y":6.42},

  {"Series":"III", "X":5.0, "Y":5.73},



  {"Series":"IV", "X":8.0, "Y":6.58},

  {"Series":"IV", "X":8.0, "Y":5.76},

  {"Series":"IV", "X":8.0, "Y":7.71},

  {"Series":"IV", "X":8.0, "Y":8.84},

  {"Series":"IV", "X":8.0, "Y":8.47},

  {"Series":"IV", "X":8.0, "Y":7.04},

  {"Series":"IV", "X":8.0, "Y":5.25},

  {"Series":"IV", "X":19.0, "Y":12.50},

  {"Series":"IV", "X":8.0, "Y":5.56},

  {"Series":"IV", "X":8.0, "Y":7.91},

  {"Series":"IV", "X":8.0, "Y":6.89}

]

ValueError: I/O operation on closed file.

In [ ]:
import pandas as pd

In [ ]:
!ls sample_data

anscombe.json		     california_housing_train.csv  mnist_train_small.csv
california_housing_test.csv  mnist_test.csv		   README.md

In [ ]:
pd.read_csv('sample_data/california_housing_test.csv')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

- Errors
    - read errors
    - manage exceptions
    - generate exceptions
- Read files

#Basic Exercises

Ex: Write a function that returns True if all the elements in the input list are even

In [ ]:
#done

**Ex: Write a function that returns the maximum value in a list**

In [ ]:
def find_maximum(list_of_numbers):
    maximum = list_of_numbers[0]
    for number in list_of_numbers:
        if number > maximum:
            maximum = number

    return maximum

In [ ]:
find_maximum([0,-2, 30, -45, 90])

90

In [ ]:
def find_maximum(list_of_numbers):
    sorted_list = sorted(list_of_numbers)
    return sorted_list[-1]

In [ ]:
find_maximum([0,-2, 30, -45, 90])

90

In [ ]:
def find_maximum(list_of_numbers):
    maximum = 0
    for number in list_of_numbers:
        if number > maximum:
            maximum = number

    return maximum

In [ ]:
find_maximum([-20,-2, -30, -45, -90])

0

In [ ]:
def find_maximum(list_of_numbers):
    return max(list_of_numbers)

In [ ]:
find_maximum([-20,-2, -30, -45, -90])

-2

In [ ]:
find_maximum = lambda x : max(x)

In [ ]:
find_maximum([-20,-2, -30, -45, -90])

-2

Ex: Write a function that returns the sum of all values in the list

1. Write a function that returns True if all the elements in the input list are even
2. Write a function that returns the maximum value in a list
2. Write a function that returns the sum of all values in the list
2. Write a function that accepts a list of numbers as input and returns an inverted version of the list
2. Write a function that returns the first and last elements of a list
3. Write a function that, given a, b, c, x as inputs, calculates ax^2 + bx + c
4. Write a function that calculates the number of days between two dates. The dates can be tuples
5. Write a function that accepts 2 dictionaries as input and returns a single dictionary with the same data (merged)
6. Write a function to print the content of a dictionary in order by key
7. Write a function to find all keys in the provided dictionary that have the given value
8. Write a function to sort a tuple by its float element

Ex: Write a function to print the content of a dictionary in order by *key*