#Python Language Basics

##16/10/2024

**Exercise**: generate a list of even numbers between 0 and 100 (included) using a for loop and an if statement.

In [ ]:
#don't
list_of_even_numbers = range(0,100, 2)
for i in range(10):
    if 1 > 3:
        print('hello')

In [ ]:
list_of_numbers = []
for number in range(101):
    if number % 2 == 0:
        #list_of_numbers.append(number)
        list_of_numbers = list_of_numbers + [number]

- List Comprehension
    - Time comparison (even list)

In [ ]:
list_of_numbers = [number for number in range(101) if number % 2 == 0]

In [ ]:
%%timeit
elements = []
for i in range(10000000):
    if i % 2 == 0:
        elements.append(i)

1.14 s ± 214 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
elements = [i for i in range(10000000) if i % 2 == 0]

951 ms ± 82.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
[name for name in ['Mark', 'Nick', 'Lebron']]

['Mark', 'Nick', 'Lebron']

In [ ]:
list_of_numbers_that_are_actually_strings = ['1','2','3']

In [ ]:
[int(x) + 3 for x in list_of_numbers_that_are_actually_strings]

[4, 5, 6]

In [ ]:
list_of_dictionaries = [
    {'name':'Nick', 'surname':'Marastoni', 'age':41},
    {'name':'Mark', 'surname':'Powers', 'age':52},
    {'name':'Lebron', 'surname':'James', 'age':39}
]

In [ ]:
list_of_dictionaries

[{'name': 'Nick', 'surname': 'Marastoni', 'age': 41},
 {'name': 'Mark', 'surname': 'Powers', 'age': 52},
 {'name': 'Lebron', 'surname': 'James', 'age': 39}]

In [ ]:
list_of_dictionaries[0].values()

dict_values(['Nick', 'Marastoni', 41])

In [ ]:
list_of_names = []
for d in list_of_dictionaries:
    list_of_names.append(d['name'])

In [ ]:
list_of_names

['Nick', 'Mark', 'Lebron']

In [ ]:
list_of_surnames = []
for d in list_of_dictionaries:
    list_of_surnames.append(d['surname'])

In [ ]:
list_of_surnames

['Marastoni', 'Powers', 'James']

In [ ]:
sum([1,2,3])

6

In [ ]:
def do_nothing():
    pass

In [ ]:
do_nothing()

In [ ]:
def values_from_dictionary():
    pass

In [ ]:
#a = 19
#b = 23
def sum_two_numbers(a, b):
    print(a + b)

In [ ]:
sum_two_numbers(19, 23)

42

In [ ]:
res = sum_two_numbers(19, 23)

42

In [ ]:
res

In [ ]:
def sum_two_numbers_with_return(a, b):
    res = a + b
    return res

In [ ]:
res = sum_two_numbers_with_return(19, 23)

In [ ]:
def values_from_dictionary():
    pass

42

**Exercise:** write a function that takes in input a list of dictionaries and a key, and prints the corresponding values for every item in the list

In [ ]:
def fun1(a, b):
    for d in a:
        print(d[b])

In [ ]:
fun1(list_of_dictionaries, 'name')

Nick
Mark
Lebron

In [ ]:
def print_values_from_dictionary(list_of_dictionaries, key):
    for d in list_of_dictionaries:
        print(d[key])

In [ ]:
print_values_from_dictionary(list_of_dictionaries, 'name')

Nick
Mark
Lebron

In [ ]:
def print_values_from_dictionary(list_of_dictionaries, input_key):
    list_of_stuff = []
    for d in list_of_dictionaries:
        for key, value in d.items():
            if key == input_key:
                list_of_stuff.append(value)
                print(value)
    #return list_of_stuff

In [ ]:
print_values_from_dictionary(list_of_dictionaries, 'name')

Nick
Mark
Lebron

['Nick', 'Mark', 'Lebron']

**Exercise:** write a function that takes in input a list of dictionaries and a key, and returns the corresponding values for every item in the list

In [ ]:
def return_values_from_dictionary(list_of_dictionaries, key):
    #list_of_dictionaries = list_of_dictionaries
    for d in list_of_dictionaries:
        return d[key]

In [ ]:
return_values_from_dictionary(list_of_dictionaries, 'name')

'Nick'

a function that returns True if all elements in the input list are even numbers

In [ ]:
def all_even(list_of_numbers):
    res = True
    for number in list_of_numbers:
        if number % 2 == 0:
            res = True
        else:
            res = False
    return res

In [ ]:
all_even([1,2,3,35,24])

True

In [ ]:
def all_even(list_of_numbers):
    res = True
    for number in list_of_numbers:
        if not number % 2 == 0:
            res = False
    return res

In [ ]:
all_even([1,2,3,35,24,348,34,12,2,48])

False

In [ ]:
def all_even(list_of_numbers):
    for number in list_of_numbers:
        if not number % 2 == 0:
            return False
    return True

In [ ]:
def is_even(n):
    return n % 2 == 0

In [ ]:
def all_even(list_of_numbers):
    for number in list_of_numbers:
        if not is_even(number):
            return False
    return True

In [ ]:
def takes_one_input(n):
    return 1

In [ ]:
takes_one_input('hello')

1

- Functions
    - Parameters
    - calling/returning
    - Scope
    - input/no input/output/no output