In [2]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Ex**: write a function that takes a list of column names and a list of row names in input, and outputs a DataFrame where each element is a concatenation of the respective column name and row name.

In [3]:
pd.DataFrame({
    'col_1':[1,2,3,4],
    'col_2':[5,6,7,8]
})

   col_1  col_2
0      1      5
1      2      6
2      3      7
3      4      8

In [4]:
columns = ['A', 'B', 'C']
rows = [1,2,3,4]
d = {}
for column in columns:
    list_of_things = []
    for row in rows:
        thing = str(column) + str(row)
        list_of_things.append(thing)
    d[str(column)] = list_of_things
pd.DataFrame(d, index=rows)

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
4  A4  B4  C4

In [5]:
def make_df(columns, rows):
    d = {}
    for column in columns:
        list_of_things = []
        for row in rows:
            thing = str(column) + str(row)
            list_of_things.append(thing)
        d[str(column)] = list_of_things
    return pd.DataFrame(d, index=rows)

In [6]:
make_df(['A', 'B', 'C'], [1,2,3,4])

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
4  A4  B4  C4

In [7]:
columns = ['A', 'B', 'C']
rows = [1,2,3,4]
[i for i in rows]
{c : 1 for c in columns}
pd.DataFrame({c : [str(c) + str(i) for i in rows] for c in columns})

    A   B   C
0  A1  B1  C1
1  A2  B2  C2
2  A3  B3  C3
3  A4  B4  C4

In [8]:
def make_df(columns, rows):
    return pd.DataFrame({c : [str(c) + str(i) for i in rows] for c in columns}, index=rows)

In [9]:
make_df(columns, rows)

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
4  A4  B4  C4

In [10]:
x = [1,2,3,4]
y = [5,6,7]
z = [8,9]

In [39]:
np.concatenate([x,y,z])

ValueError: zero-dimensional arrays cannot be concatenated

In [12]:
x_s = pd.Series(['A', 'B', 'C'], index=[1,2,3])
y_s = pd.Series(['D', 'E', 'F'], index=[1,2,3])

In [13]:
series = pd.concat([x_s, y_s])

In [14]:
series[1]

1    A
1    D
dtype: object

In [15]:
series = pd.concat([x_s, y_s], ignore_index=True)

In [16]:
series

0    A
1    B
2    C
3    D
4    E
5    F
dtype: object

In [17]:
df_1 = make_df('AB', [1,2])
df_2 = make_df('CD', [1,2])

In [18]:
df_1

    A   B
1  A1  B1
2  A2  B2

In [19]:
df_2

    C   D
1  C1  D1
2  C2  D2

In [20]:
pd.concat([df_1, df_2])

     A    B    C    D
1   A1   B1  NaN  NaN
2   A2   B2  NaN  NaN
1  NaN  NaN   C1   D1
2  NaN  NaN   C2   D2

In [21]:
pd.concat([df_1, df_2], ignore_index=True)

     A    B    C    D
0   A1   B1  NaN  NaN
1   A2   B2  NaN  NaN
2  NaN  NaN   C1   D1
3  NaN  NaN   C2   D2

In [22]:
pd.concat([df_1, df_2], join='inner')

Empty DataFrame
Columns: []
Index: [1, 2, 1, 2]

In [23]:
for x in 'ABC':
    print(x)

for x in ['A', 'B', 'C']:
    print(x)

A
B
C
A
B
C

In [24]:
df_3 = make_df('ABC', [1,2])
df_4 = make_df('BCD', [1,2])

In [25]:
df_3

    A   B   C
1  A1  B1  C1
2  A2  B2  C2

In [26]:
df_4

    B   C   D
1  B1  C1  D1
2  B2  C2  D2

In [27]:
pd.concat([df_3, df_4], join='outer')

     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
1  NaN  B1  C1   D1
2  NaN  B2  C2   D2

In [28]:
pd.concat([df_3, df_4], join='inner')

    B   C
1  B1  C1
2  B2  C2
1  B1  C1
2  B2  C2

In [29]:
df_1 = pd.DataFrame({
    'employee':['Bob', 'Lisa', 'Jake', 'Mary'],
    'group':['Accounting', 'Engineering', 'Engineering', 'HR']
})
df_2 = pd.DataFrame({
    'employee':['Lisa', 'Jake', 'Sue', 'Bob'],
    'hire_date':[2004, 2005, 2008, 2012]
})

In [30]:
print(df_1)
print(df_2)

  employee        group
0      Bob   Accounting
1     Lisa  Engineering
2     Jake  Engineering
3     Mary           HR
  employee  hire_date
0     Lisa       2004
1     Jake       2005
2      Sue       2008
3      Bob       2012

In [31]:
pd.concat([df_1, df_2], join='inner')

  employee
0      Bob
1     Lisa
2     Jake
3     Mary
0     Lisa
1     Jake
2      Sue
3      Bob

In [32]:
pd.merge(df_1, df_2)

  employee        group  hire_date
0      Bob   Accounting       2012
1     Lisa  Engineering       2004
2     Jake  Engineering       2005

In [33]:
pd.merge(df_1, df_2, how='outer')

  employee        group  hire_date
0      Bob   Accounting     2012.0
1     Jake  Engineering     2005.0
2     Lisa  Engineering     2004.0
3     Mary           HR        NaN
4      Sue          NaN     2008.0

In [34]:
pd.merge(df_1, df_2, on='employee')

  employee        group  hire_date
0      Bob   Accounting       2012
1     Lisa  Engineering       2004
2     Jake  Engineering       2005

- concatenate
    - lists
    - series
    - DataFrames (join=inner)
- merge
    - left_on, right_on

###NBA zip upload

In [35]:
df_3 = pd.DataFrame({
    'name': ['James', 'Mary', 'Bob', 'Lisa'],
    'salary': [70000, 90000, 50000, 120000]
})

In [36]:
pd.merge(df_1, df_3)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [37]:
pd.merge(df_1, df_3, left_on='employee', right_on='name', how='outer').drop('name', axis=1)

  employee        group    salary
0      Bob   Accounting   50000.0
1     Jake  Engineering       NaN
2      NaN          NaN   70000.0
3     Lisa  Engineering  120000.0
4     Mary           HR   90000.0

###Multi-dimensional indexes
[https://pandas.pydata.org/docs/user_guide/advanced.html](https://pandas.pydata.org/docs/user_guide/advanced.html)

In [38]:
index = [('California', 2000), ('California', 2010), ('New York', 2000), ('New York', 2010), ('Texas', 2000), ('Texas', 2010)]
population = [1231323, 543535354, 566456, 1313123, 456457, 1342344]
pop = pd.Series(population, index=index)

In [40]:
pop

(California, 2000)      1231323
(California, 2010)    543535354
(New York, 2000)         566456
(New York, 2010)        1313123
(Texas, 2000)            456457
(Texas, 2010)           1342344
dtype: int64

In [41]:
pop[('California', 2000):('New York', 2010)]

(California, 2000)      1231323
(California, 2010)    543535354
(New York, 2000)         566456
(New York, 2010)        1313123
dtype: int64

In [ ]:
index = pd.MultiIndex.from_tuples(index)
pop.index = index

In [42]:
pop

(California, 2000)      1231323
(California, 2010)    543535354
(New York, 2000)         566456
(New York, 2010)        1313123
(Texas, 2000)            456457
(Texas, 2010)           1342344
dtype: int64

In [43]:
pop['California']

KeyError: 'California'

In [44]:
pop[:, 2000]

KeyError: 'key of type tuple not found and not a MultiIndex'

In [45]:
pop[:, 2000].mean()

KeyError: 'key of type tuple not found and not a MultiIndex'

In [ ]:
pop.unstack()

               2000       2010
California  1231323  543535354
New York     566456    1313123
Texas        456457    1342344

###NBA merge

In [ ]:
!unzip nba_games.zip

Archive:  nba_games.zip
  inflating: games.csv
  inflating: games_details.csv
  inflating: players.csv
  inflating: ranking.csv
  inflating: teams.csv

In [ ]:
games_details_df = pd.read_csv('games_details.csv')
games_details_df.info()

<ipython-input-73-37d2a7f18b97>:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  games_details_df = pd.read_csv('games_details.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668628 entries, 0 to 668627
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            668628 non-null  int64
 1   TEAM_ID            668628 non-null  int64
 2   TEAM_ABBREVIATION  668628 non-null  object
 3   TEAM_CITY          668628 non-null  object
 4   PLAYER_ID          668628 non-null  int64
 5   PLAYER_NAME        668628 non-null  object
 6   NICKNAME           53037 non-null   object
 7   START_POSITION     255765 non-null  object
 8   COMMENT            109689 non-null  object
 9   MIN                558938 non-null  object
 10  FGM                558938 non-null  float64
 11  FGA                558938 non-null  float64
 12  FG_PCT             558938 non-null  float64
 13  FG3M               558938 non-null  float64
 14  FG3A               558938 non-null  float64
 15  FG3_PCT            558938 non-null  float64
 16  FTM                558938 non-null  float64
 17  FTA                558938 non-null  float64
 18  FT_PCT             558938 non-null  float64
 19  OREB               558938 non-null  float64
 20  DREB               558938 non-null  float64
 21  REB                558938 non-null  float64
 22  AST                558938 non-null  float64
 23  STL                558938 non-null  float64
 24  BLK                558938 non-null  float64
 25  TO                 558938 non-null  float64
 26  PF                 558938 non-null  float64
 27  PTS                558938 non-null  float64
 28  PLUS_MINUS         535277 non-null  float64
dtypes: float64(19), int64(3), object(7)
memory usage: 147.9+ MB

In [ ]:
!ls

games.csv  games_details.csv  nba_games.zip  players.csv  ranking.csv  sample_data  teams.csv

In [ ]:
teams_df = pd.read_csv('teams.csv')

In [ ]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LEAGUE_ID           30 non-null     int64
 1   TEAM_ID             30 non-null     int64
 2   MIN_YEAR            30 non-null     int64
 3   MAX_YEAR            30 non-null     int64
 4   ABBREVIATION        30 non-null     object
 5   NICKNAME            30 non-null     object
 6   YEARFOUNDED         30 non-null     int64
 7   CITY                30 non-null     object
 8   ARENA               30 non-null     object
 9   ARENACAPACITY       26 non-null     float64
 10  OWNER               30 non-null     object
 11  GENERALMANAGER      30 non-null     object
 12  HEADCOACH           30 non-null     object
 13  DLEAGUEAFFILIATION  30 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 3.4+ KB

In [ ]:
teams_df

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends
5,0,1610612743,1976,2019,DEN,Nuggets,1976,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
6,0,1610612745,1967,2019,HOU,Rockets,1967,Houston,Toyota Center,18104.0,Tilman Fertitta,Daryl Morey,Mike D'Antoni,Rio Grande Valley Vipers
7,0,1610612746,1970,2019,LAC,Clippers,1970,Los Angeles,Staples Center,19060.0,Steve Ballmer,Michael Winger,Doc Rivers,Agua Caliente Clippers of Ontario
8,0,1610612747,1948,2019,LAL,Lakers,1948,Los Angeles,Staples Center,19060.0,Jerry Buss Family Trust,Rob Pelinka,Frank Vogel,South Bay Lakers
9,0,1610612748,1988,2019,MIA,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
10,0,1610612749,1968,2019,MIL,Bucks,1968,Milwaukee,Fiserv Forum,17500.0,Wesley Edens &Marc Lasry,Jon Horst,Mike Budenholzer,Wisconsin Herd
11,0,1610612750,1989,2019,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
12,0,1610612751,1976,2019,BKN,Nets,1976,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Kenny Atkinson,Long Island Nets
13,0,1610612752,1946,2019,NYK,Knicks,1946,New York,Madison Square Garden,19763.0,Cablevision (James Dolan),Steve Mills,David Fizdale,Westchester Knicks
14,0,1610612753,1989,2019,ORL,Magic,1989,Orlando,Amway Center,0.0,Rick DeVos,John Hammond,Steve Clifford,Lakeland Magic
15,0,1610612754,1976,2019,IND,Pacers,1976,Indiana,Bankers Life Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Nate McMillan,Fort Wayne Mad Ants
16,0,1610612755,1949,2019,PHI,76ers,1949,Philadelphia,Wells Fargo Center,NaN,Joshua Harris,Elton Brand,Brett Brown,Delaware Blue Coats
17,0,1610612756,1968,2019,PHX,Suns,1968,Phoenix,Talking Stick Resort Arena,NaN,Robert Sarver,James Jones,Monty Williams,Northern Arizona Suns
18,0,1610612757,1970,2019,POR,Trail Blazers,1970,Portland,Moda Center,19980.0,Paul Allen,Neil Olshey,Terry Stotts,No Affiliate
19,0,1610612758,1948,2019,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
20,0,1610612759,1976,2019,SAS,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
21,0,1610612760,1967,2019,OKC,Thunder,1967,Oklahoma City,Chesapeake Energy Arena,19163.0,Clay Bennett,Sam Presti,Billy Donovan,Oklahoma City Blue
22,0,1610612761,1995,2019,TOR,Raptors,1995,Toronto,Scotiabank Arena,19800.0,Maple Leaf Sports and Entertainment,Masai Ujiri,Nick Nurse,Raptors 905
23,0,1610612762,1974,2019,UTA,Jazz,1974,Utah,Vivint Smart Home Arena,20148.0,Greg Miller,Dennis Lindsey,Quin Snyder,Salt Lake City Stars
24,0,1610612763,1995,2019,MEM,Grizzlies,1995,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle
25,0,1610612764,1961,2019,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
26,0,1610612765,1948,2019,DET,Pistons,1948,Detroit,Little Caesars Arena,21000.0,Tom Gores,Ed Stefanski,Dwane Casey,Grand Rapids Drive
27,0,1610612766,1988,2019,CHA,Hornets,1988,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,James Borrego,Greensboro Swarm
28,0,1610612739,1970,2019,CLE,Cavaliers,1970,Cleveland,Quicken Loans Arena,20562.0,Dan Gilbert,Koby Altman,John Beilein,Canton Charge
29,0,1610612744,1946,2019,GSW,Warriors,1946,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors

In [ ]:
teams_df.columns

Index(['LEAGUE_ID', 'TEAM_ID', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

In [ ]:
games_details_df.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'NICKNAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS'],
      dtype='object')

In [ ]:
games_and_teams_df = pd.merge(games_details_df, teams_df, left_on='TEAM_ID', right_on='TEAM_ID')

In [ ]:
games_and_teams_df.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME_x,START_POSITION,COMMENT,MIN,...,ABBREVIATION,NICKNAME_y,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,SAS,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,SAS,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,SAS,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,SAS,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,SAS,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs

**Ex:** find out who has the best PLUS_MINUS on average in Atlanta

**Ex:** merge the games_details.csv and teams.csv, then games_details with one of the other csvs

**Ex:** find who was the owner of LeBron James' team in 2016

**Ex:** find player that has the most AST (assists)

#Numpy Exercises

##1. Generate a vector with all multiples of 3 from 30 to 99

##2. Generate a square array of size (12, 12) filled with ones

## 3. Generate an array of size (6,3) filled with all numbers between 1 and 18, backwards (18, 17, 16 ...)

## 4. Generate an array with the same shape as the previous exercise, but filled with zeros. BONUS: use only one method call

## 5. Generate an array of shape (4, 6) filled with random numbers between -4 and 4

## 6. Calculate the size of the array generated in the previous exercise

## 7. Generate an array of shape (6, 3) filled with random numbers between 1 and 18, sorted in ascending order

## 8. Sum the arrays from the 3rd and 7th exercise together

## 9. Calculate the sum of all the values from each column in the last generated array

#Basic Exercises

Ex: Write a function that returns True if all the elements in the input list are even

In [ ]:
#done

**Ex: Write a function that returns the maximum value in a list**

In [ ]:
def find_maximum(list_of_numbers):
    maximum = list_of_numbers[0]
    for number in list_of_numbers:
        if number > maximum:
            maximum = number

    return maximum

In [ ]:
find_maximum([0,-2, 30, -45, 90])

90

In [ ]:
def find_maximum(list_of_numbers):
    sorted_list = sorted(list_of_numbers)
    return sorted_list[-1]

In [ ]:
find_maximum([0,-2, 30, -45, 90])

90

In [ ]:
def find_maximum(list_of_numbers):
    maximum = 0
    for number in list_of_numbers:
        if number > maximum:
            maximum = number

    return maximum

In [ ]:
find_maximum([-20,-2, -30, -45, -90])

0

In [ ]:
def find_maximum(list_of_numbers):
    return max(list_of_numbers)

In [ ]:
find_maximum([-20,-2, -30, -45, -90])

-2

In [ ]:
find_maximum = lambda x : max(x)

In [ ]:
find_maximum([-20,-2, -30, -45, -90])

-2

Ex: Write a function that returns the sum of all values in the list

1. Write a function that returns True if all the elements in the input list are even
2. Write a function that returns the maximum value in a list
2. Write a function that returns the sum of all values in the list
2. Write a function that accepts a list of numbers as input and returns an inverted version of the list
2. Write a function that returns the first and last elements of a list
3. Write a function that, given a, b, c, x as inputs, calculates ax^2 + bx + c
4. Write a function that calculates the number of days between two dates. The dates can be tuples
5. Write a function that accepts 2 dictionaries as input and returns a single dictionary with the same data (merged)
6. Write a function to print the content of a dictionary in order by key
7. Write a function to find all keys in the provided dictionary that have the given value
8. Write a function to sort a tuple by its float element

Ex: Write a function to print the content of a dictionary in order by *key*